In [2]:
# Import Libraries

import pandas as pd
from surprise import Dataset
from surprise import Reader
from surprise import KNNWithMeans

In [5]:
### Reading the data 

ratings = pd.read_csv('/content/Hackmaker_NCF.csv')
ratings.head()

   userID  itemID  rating    timestamp
0   111.0   160.0    50.0  978824351.0
1   111.0   130.0    50.0  978300174.0
2   111.0   140.0    50.0  978298504.0
3   111.0   190.0    50.0  978294282.0
4   111.0   160.0    55.0  978246585.0

### Applying the Frequency count method on the dataset to recommend the most popular product item to the users.

###### This method will recommend user based on the number of historical purchase user already made.

In [11]:
g=ratings.groupby('userID')['rating'].count()
topUsers=g.sort_values(ascending=False)

g=ratings.groupby('itemID')['rating'].count()
topItem=g.sort_values(ascending=False)

top_r = ratings.join(topUsers, rsuffix='_r', how='inner', on='userID')
top_r = top_r.join(topItem, rsuffix='_r', how='inner', on='itemID')

In [12]:
### Displaying number of times user purchased the product

top_r

    userID  itemID  rating    timestamp  rating_r  rating_r
0    111.0   160.0    50.0  978824351.0        19         3
4    111.0   160.0    55.0  978246585.0        19         3
12   111.0   160.0    60.0  978202577.0        19         3
1    111.0   130.0    50.0  978300174.0        19         4
5    111.0   130.0    55.0  978239019.0        19         4
13   111.0   130.0    60.0  978201317.0        19         4
17   111.0   130.0    65.0  978157434.0        19         4
2    111.0   140.0    50.0  978298504.0        19         4
6    111.0   140.0    55.0  978234898.0        19         4
14   111.0   140.0    60.0  978361393.0        19         4
16   111.0   140.0    65.0  978161166.0        19         4
3    111.0   190.0    50.0  978294282.0        19         1
7    111.0   170.0    50.0  978247143.0        19         1
8    111.0   188.0    50.0  978226678.0        19         1
9    111.0   120.0    50.0  980638688.0        19         1
10   111.0   100.0    50.0  978909052.0        19         1
11   111.0    90.0    50.0  978220273.0        19         1
15   111.0   106.0    50.0  978174795.0        19         1
18   111.0   110.0    50.0  994556636.0        19         1

#### KNNwithMeans Algorithm

###### This algorithm uses Collaborative-Filtering approach to predict the ratings for every users.

In [26]:
## reading the data 
data = pd.read_csv("/content/Hackmaker_NCF.csv")

In [27]:
## Dividing the data into train and test set

train_set = data[:14]
test_set = data[14:]

In [28]:
## Setting up the rating scale between 50 and 100.

reader = Reader(rating_scale=(50, 100))
train_set = Dataset.load_from_df(train_set[["userID", "itemID", "rating"]], reader)

In [29]:
from surprise import KNNWithMeans

# To use item-based cosine similarity
sim_options = {
    "name": "cosine",
    "user_based": False,  # Compute  similarities between items
}
algo = KNNWithMeans(sim_options=sim_options)

In [30]:
## build_full_trainset() -- Do not split the dataset into folds and just return a trainset as is, built from the whole dataset.

trainingSet = train_set.build_full_trainset()

In [31]:
## Fitting the model

algo.fit(trainingSet)

Computing the cosine similarity matrix...
Done computing similarity matrix.

In [36]:
### Predicting from the model

predicted_ratings = []
for i in test_set['itemID']:
  prediction = algo.predict(111, i)
  x = prediction.est
  predicted_ratings.append(x)

Note: System will only recommend the product if the rating is above certain threshold e.g 55

In [37]:
## Printing the predicted ratings.

predicted_ratings

[52.5, 52.5, 52.5, 55.0, 52.5, 52.5]